{% set classes = [
  'node-dialog',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

<ul class="{{ classes }}" role="dialog">

	{% for item in node_dialog %}
		{% set itemClasses = [
		  'node-dialog__item',
		  item.item_classes ? item.item_classes,
		  item.content ? 'is-content' : 'is-link',
		]|join(' ')|trim %}

		{% if item.content or item.title %}
			<li class="{{ itemClasses }}">
				{% if not item.content %}
					<a 
						class="node-dialog__link{% if item.is_active %} is-active{% endif %}"
						{% if item.url %} 
				          href="{{ item.url }}" 
				        {% else %}
				          role="link"
				          aria-disabled="true"
				        {% endif %}  
					>
						{{ item.title }}
					</a>
				{% else %}
					<div class="node-dialog__content">
						{{ item.content }}
					</div>	
				{% endif %}	
			</li>
		{% endif %}		
	{% endfor %}
</ul>
