{% set classes = [
  'icon',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

{% if is_demo %}
  {% set icons = [
    'arrow',
    'close',
    'warning',
    'angle-double-left',
    'angle-double-right',
    'angle-left',
    'angle-right',
    'file',
    'rss',
    'chevron-circle-left',
    'chevron-circle-right',
    'minus-circle',
    'plus-circle',
    'times-circle',
    'square',
    'check-square',
    'facebook-square',
    'flickr-square',
    'instagram-square',
    'twitter-square',
    'youtube-square',
   ] %}
  {% for icon in icons %}
    <p>
      <svg class="{{ classes }}"{% if is_hidden %} aria-hidden="true"{% endif %}{% if label %} role="img"{% endif %}>
        {% if label %}<title>{{ label }}</title>{% endif %}
        <use xlink:href="{{ epa_theme_image_path }}sprite.artifact.svg#{{ icon }}"></use>
      </svg>
      {{ icon }}
    </p>
  {% endfor %}
{%- else -%}
  {% spaceless %}
    <svg class="{{ classes }}"{% if is_hidden %} aria-hidden="true"{% endif %}{% if label %} role="img"{% endif %}>
      {% if label %}<title>{{ label }}</title>{% endif %}
      <use xlink:href="{{ epa_theme_image_path }}sprite.artifact.svg#{{ icon_name }}"></use>
    </svg>
  {% endspaceless %}
{%- endif -%}
