{#
/**
 * @file
 * Theme override to display a node.
 */
#}

{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--display-mode-' ~ view_mode|clean_class,
] %}

{% set header_info %}
  <h4>Header Info</h4>
{% endset %}

{% set contact_link %}
  {{ drupal_entity('block', 'webareaheader', check_access=false) }}
{% endset %}

{% set messages %}
  {{ drupal_block('system_messages_block', wrapper=false) }}
{% endset %}

{% set local_tasks %}
  {{ drupal_block('local_tasks_block', wrapper=false) }}
  {{ drupal_block('local_actions_block', wrapper=false) }}
{% endset %}

{% set footer %}
  {{ drupal_entity('block', 'webareafooter', check_access=false) }}
{% endset %}

{% set attributes = attributes.addClass(classes) %}

{% include '@templates/detail-pages/page.twig' with {
  'header_info': header_info,
  'contact_link': contact_link,
  'title': label,
  'messages': messages,
  'tasks': local_tasks,
  'body': content,
  'footer': footer,
} %}
