{#
/**
 * @file
 * Theme override to display a node.
 */
#}

{% set classes = [
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
] %}

{% set sidenav = drupal_region('sidebar') %}

{% set display_sidenav = false %}

{% if sidenav|render|striptags('<drupal-render-placeholder>')|trim %}
  {% set display_sidenav = true %}
{% endif %}

{% set header_info %}
  {% if nav_style == 'sidebar_navigation' %}
    {{ node.entitygroupfield|view({type: 'group_homepage_node_formatter', settings: {link: false,shortname: true}}) }}
    {{ drupal_entity('block', 'epa_breadcrumbs', check_access=false) }}
  {% else %}
    {{ drupal_entity('block', 'epa_breadcrumbs', check_access=false) }}
  {% endif %}
{% endset %}

{% set contact_link %}
{#  {{ drupal_entity('block', 'webareaheader', check_access=false) }}#}
  {{ webarea_contact_link }}
{% endset %}

{% set admin_info %}
  {{ region_messages }}
  {{ content.epa_content_moderation_info_box }}
{% endset %}

{% set show_admin_info = false %}

{% if admin_info|striptags('<drupal-render-placeholder>')|trim %}
  {% set show_admin_info = true %}
{% endif %}

{% set footer %}
  {{ drupal_entity('block', 'webareafooter', check_access=false) }}
{% endset %}

{% set has_footer = false %}

{% if footer|striptags('<drupal-render-placeholder>')|trim %}
  {% set has_footer = true %}
{% endif %}

{% set attributes = attributes.addClass(classes) %}

{% if node.field_language.value %}
  {% set attributes = attributes.setAttribute('lang', node.field_language.value) %}
  {% if node.field_language.value == 'ar' %}
    {% set attributes = attributes.setAttribute('dir', 'rtl') %}
  {% endif %}
{% endif %}

{% set table_of_contents %}
  {% if
    content.field_rule_history|render or
    content.field_additional_resources|render or
    content.field_compliance|render
  %}
    <h2 class="h4">On this page:</h2>
    <ul>
      {% if content.field_rule_summary|render %}
        <li><a href="#rule-summary">{{ content.field_rule_summary|field_label }}</a></li>
      {% endif %}
      {% if content.field_rule_history|render %}
        <li><a href="#rule-history">{{ content.field_rule_history|field_label }}</a></li>
      {% endif %}
      {% if content.field_additional_resources|render %}
        <li><a href="#additional-resources">{{ content.field_additional_resources|field_label }}</a></li>
      {% endif %}
      {% if content.field_compliance|render %}
        <li><a href="#compliance">{{ content.field_compliance|field_label }}</a></li>
      {% endif %}
    </ul>
  {% endif %}
{% endset %}

{% set box_content %}
  {{ content.field_legal_authorities }}
  {{ content.field_federal_register_citations }}
  {{ content.field_cfr }}
  {{ content.field_docket_numbers }}
  {{ content.field_effective_dates }}
{% endset %}

{% set body %}
  {% if box_content|striptags('<drupal-render-placeholder>')|trim %}
    {% include '@components/box/box.twig' with {
      'modifier_classes': 'box--related-info u-align-right',
      'title': {
        'tag': 'div',
        'text': 'Basic Information'|t,
      },
      'content': box_content,
    } %}
  {% endif %}
  {{ table_of_contents }}
  {{ content|without(
    'epa_content_moderation_info_box',
    'field_legal_authorities',
    'field_federal_register_citations',
    'field_cfr',
    'field_docket_numbers',
    'field_effective_dates'
  ) }}
{% endset %}

{% if display_sidenav %}
  {% include '@templates/detail-pages/page-with-sidenav.twig' with {
    'has_header': true,
    'has_footer': has_footer,
    'has_sidenav': true,
    'header_info': header_info,
    'contact_link': contact_link,
    'title': label,
    'admin_info': admin_info,
    'show_admin_info': show_admin_info,
    'body': body,
    'sidenav': sidenav,
    'footer': footer,
  } %}
{% else %}
  {% include '@templates/detail-pages/page.twig' with {
    'has_header': true,
    'has_footer': has_footer,
    'header_info': header_info,
    'contact_link': contact_link,
    'title': label,
    'admin_info': admin_info,
    'show_admin_info': show_admin_info,
    'body': body,
    'footer': footer,
  } %}
{% endif %}
