{% set classes = [
  'box',
  modifier_classes ? modifier_classes,
  img.small.src ? 'has-image-header',
  image ? 'has-image-header',
]|join(' ')|trim %}

{% set title_icon %}
  {% if title.icon %}
    {% include '@components/icon/icon.twig' with {
      'is_hidden': true,
      'is_demo': false,
      'modifier_classes': 'is-spaced-after',
      'icon_name': title.icon,
    } %}
  {% endif %}
{% endset %}

{% set footer_icon %}
  {% if footer.icon %}
    {% include '@components/icon/icon.twig' with {
      'is_hidden': true,
      'is_demo': false,
      'modifier_classes': 'is-spaced-after',
      'icon_name': footer.icon,
    } %}
  {% endif %}
{% endset %}

<div class="{{ classes }}"{% if role %} role="{{ role }}"{% endif %}>
  {%- if label -%}
    <div class="u-visually-hidden">{{ label }}</div>
  {%- endif -%}
  {% if title.text %}
    <{{ title.tag }} class="box__title">
      {% if title.url %}
        <a class="box__title-link" href="{{ title.url }}">
      {% endif %}
      {{ title_icon }}{{ title.text }}
      {% if title.url %}
        </a>
      {% endif %}
    </{{ title.tag }}>
  {% endif %}
  {% if img.small.src %}
    {% if image_url %}
      <a class="box__image-link" href="{{ image_url }}">
    {% endif %}
    {% include '@base/responsive-images/01-small.twig' with {
      'modifier_classes': 'box__image',
    } %}
    {% if image_url %}
      </a>
    {% endif %}
  {% elseif image %}
    {% if image_url %}
      <a class="box__image-link" href="{{ image_url }}">
    {% endif %}
    {{ image }}
    {% if image_url %}
      </a>
    {% endif %}
  {% endif %}
  <div class="box__content">{{ content }}</div>
  {% if footer.text %}
    <div class="box__footer">
      <a class="box__footer-link" href="{{ footer.url }}">{{ footer_icon }}{{ footer.text }}</a>
    </div>
  {% endif %}
</div>

{% if is_demo %}
  {% set title = title|merge({ url: 'https://example.com' }) %}
  {% set image_url = 'https://example.com' %}
  <div class="{{ classes }}">
    {% if title.text %}
      <{{ title.tag }} class="box__title">
        {% if title.url %}
          <a class="box__title-link" href="{{ title.url }}">
        {% endif %}
        {{ title_icon }}{{ title.text }}
        {% if title.url %}
          </a>
        {% endif %}
      </{{ title.tag }}>
    {% endif %}
    {% if img.small.src %}
      {% if image_url %}
        <a class="box__image-link" href="{{ image_url }}">
      {% endif %}
      {% include '@base/responsive-images/01-small.twig' with {
        'modifier_classes': 'box__image',
      } %}
      {% if image_url %}
        </a>
      {% endif %}
    {% elseif image %}
      {% if image_url %}
        <a class="box__image-link" href="{{ image_url }}">
      {% endif %}
      {{ image }}
      {% if image_url %}
        </a>
      {% endif %}
    {% endif %}
    <div class="box__content">{{ content }}</div>
    {% if footer.text %}
      <div class="box__footer">
        <a class="box__footer-link" href="{{ footer.url }}">{{ footer_icon }}{{ footer.text }}</a>
      </div>
    {% endif %}
  </div>
{% endif %}
