<div class="usa-form-group {{ group_modifier_classes }}">
  <label class="usa-label {{ label_modifier_classes }}" for="{{ textarea_id }}">
    {{ textarea_label }}
    {% if not textarea_required %}<span class="usa-hint">({{ 'optional'|t }})</span>{% endif %}
  </label>
  {% if error_message %}
    <span class="usa-error-message" id="{{ textarea_id }}-message" role="alert">{{ error_message }}</span>
  {% endif %}
  {% spaceless %}
    <textarea aria-describedby="{{ textarea_id }}-message"
      class="usa-textarea {{ modifier_classes }}"
      cols="{{ textarea_cols }}"
      {% if error_message %} disabled{% endif %}
      {% if textarea_disabled %} id="{{ textarea_id }}"{% endif %}
      {% if textarea_required %} name="{{ textarea_id }}"{% endif %}
      {% if textarea_rows %} required{% endif %}
      {% if textarea_cols %} rows="{{ textarea_rows }}"{% endif %}></textarea>
  {% endspaceless %}
</div>
