{% set classes = [
  'document',
  is_private ? 'is-private',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

<span class="{{ classes }}">
  {% if pattern_lab %}
    {% include '@components/file/file.twig' with {
      file: {
        icon: 'file',
        name: 'File name',
        extension: 'pdf',
      },
      modifier_classes: '',
      is_private: false,
    } %}
  {% else %}
    {{ file }}
  {% endif %}

  <span class="document__meta">({{ filesize -}}
    {%- if date or publication_number -%}
      , {{ date -}}
      {%- if date and publication_number %}, {% endif -%}
      {{- publication_number -}}
    {%- endif -%})

    {% if description -%}
      <br />{{ description }}
    {%- endif -%}
  </span>

  {%- if is_private -%}
    <span class="document__private-icon">
      {%- include '@components/icon/icon.twig' with {
        'icon_name': 'announcement',
        'modifier_classes': 'document__icon',
        'is_demo': false,
        'label': 'This file is marked as private and will not be visible to users. To make the file public, update the media entity.',
      } -%}
    </span>
  {%- endif -%}
</span>
