<table class="usa-table {{ modifier_classes }}">
  {% if caption %}
    <caption>{{ caption }}</caption>
  {% endif %}

  {% if header %}
    <thead>
      <tr>
        {% for cell in header %}
          <th {{ cell.attributes }}>
            {{- cell.content -}}
          </th>
        {% endfor %}
      </tr>
    </thead>
  {% endif %}

  {% if footer %}
    <tfoot>
      <tr>
        {% for cell in footer %}
          <th cell.attributes }}>
            {{- cell.content -}}
          </th>
        {% endfor %}
      </tr>
    </tfoot>
  {% endif %}

  {% if rows %}
    <tbody>
      {% for row in rows %}
        <tr{{ row.attributes }}>
          {% for cell in row.cells %}
            <{{ cell.tag }}{{ cell.attributes }}>
              {{- cell.content -}}
            </{{ cell.tag }}>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  {% endif %}
</table>
