{{ form.new_state }}
{{ form.publish_guidance }}
{{ form.revision_log }}
{{ form.workflow_508_compliant }}

<div class="epa-content-moderation__actions">
  {{ form.submit }}
</div>

{{ form|without('new_state', 'current', 'revision_log', 'submit', 'workflow_508_compliant', 'publish_guidance') }}
