
{% set classes = ['content-info-box',  box_color] %}
<div{{ attributes.addClass(classes) }}>
  <h2>Content Info Box</h2>
  {# @todo: remove this next line #}
  <p>Box color is: {{ box_color }}</p>
  {{ content_moderation_form }}
  {{ compare_link }}
  {{ follow_widget }}
  {{ node_details_widget }}
</div>
