{{ attach_library('epa_workflow/epa_content_moderation') }}

{% if content_moderation_form %}
  <div class="epa-content-moderation">
    <div class="epa-content-moderation__content">
      <details class="epa-content-moderation__details">
        <summary class="epa-content-moderation__heading">
          {{ current_state }}
          <svg class="epa-content-moderation__heading-icon" aria-hidden="true" role="img">
            <use href="/themes/epa_theme/images/drupal-sprite.artifact.svg#chevron-down"></use>
          </svg>
        </summary>
        <div class="epa-content-moderation__details-content">
          {{ content_moderation_form }}
        </div>
      </details>
      <p class="epa-content-moderation__info">{{ last_modified }}</p>
      <p class="epa-content-moderation__help-text">{{ help_text }}</p>
    </div>

    {% if review_deadline %}
      <div class="epa-content-moderation__notice">
        <svg class="epa-content-moderation__notice-icon" aria-hidden="true" role="img">
          <use href="/themes/epa_theme/images/drupal-sprite.artifact.svg#warning"></use>
        </svg>
        {{ review_deadline }}
      </div>
    {% endif %}

    {% if scheduled_publish %}
      <div class="epa-content-moderation__notice">
        <svg class="epa-content-moderation__notice-icon" aria-hidden="true" role="img">
          <use href="/themes/epa_theme/images/drupal-sprite.artifact.svg#warning"></use>
        </svg>
        {{ scheduled_publish }}
      </div>
    {% endif %}
  </div>
{% endif %}
