{#
/**
 * @file
 *
 * Available variables:
 * - nid: the Node ID.
 * - revision_url: URL of Current Revision.
 * - revision_link: Link to Current Revision.
 * - editor_in_chief: Latest editor in chief.
 * - review_deadline: Review deadline formated  ex:'October 25, 2023 at 04:38PM UTC'.
 */
#}
{{ attach_library('epa_workflow/epa_node_details') }}

<div class="epa-node-details epa-dropdown">
  <button
    class="epa-node-details__button epa-dropdown__button js-epa-dropdown"
    id="epa-node-details-button"
    aria-expanded="true"
    aria-controls="epa-node-details-drawer"
  >
    {{ 'Node Details'|t  }}
    <svg class="epa-dropdown__icon epa-node-details__button-icon" aria-hidden="true" role="img">
      <use href="/themes/epa_theme/images/drupal-sprite.artifact.svg#chevron-down"></use>
    </svg>
  </button>

  <div
    class="epa-node-details__drawer epa-dropdown__drawer js-epa-dropdown-drawer"
    id="epa-node-details-drawer"
    role="region"
    aria-labelledby="epa-node-details-button"
    aria-expanded="true"
  >
    <div class="epa-node-details__drawer-item is-single-line">
      {{ 'Node ID'|t }}: {{ nid }}
      <button
        class="epa-copy-button js-epa-copy-button"
        type="button"
        data-copy-value="{{ nid }}"
        aria-label="{{ 'Copy this node ID'|t }}"
      >
        <svg class="epa-copy-button__icon">
          <title>{{ 'Copy this node ID'|t }}</title>
          <use href="/themes/epa_theme/images/drupal-sprite.artifact.svg#copy"></use>
        </svg>
      </button>
    </div>
    <div class="epa-node-details__drawer-item is-single-line">
      {{ 'Revision ID'|t }}: {{ revision_link }}
      <button
        class="epa-copy-button js-epa-copy-button"
        type="button"
        data-copy-value="{{ revision_url }}"
        aria-label="{{ 'Copy this revision URL'|t }}"
      >
        <svg class="epa-copy-button__icon">
          <title>{{ 'Copy this revision URL'|t }}</title>
          <use href="/themes/epa_theme/images/drupal-sprite.artifact.svg#copy"></use>
        </svg>
      </button>
    </div>
    <div class="epa-node-details__drawer-item">
      {{ 'Editor in Chief'|t }}: {{editor_in_chief }}
    </div>

    {% if review_deadline and review_deadline is not same as('No deadline set') %}
      <div class="epa-node-details__drawer-item">
        {{ 'Review Deadline on'|t }} {{ review_deadline }}
      </div>
    {% endif %}
  </div>
</div>
