{{ attach_library('epa_workflow/epa_content_moderation') }}

{% if content_moderation_form %}
  <div class="epa-content-moderation js-epa-content-moderation">
    <div class="epa-content-moderation__content">
      <details class="epa-content-moderation__dropdown epa-dropdown js-epa-dropdown">
        <summary class="epa-content-moderation__button epa-dropdown__button">
          {{ current_state }}
          {% if content_moderation_form|render|striptags|trim is not empty %}
            <svg class="epa-content-moderation__button-icon epa-dropdown__icon" aria-hidden="true" role="img">
              <use href="/themes/epa_theme/images/drupal-sprite.artifact.svg#chevron-down"></use>
            </svg>
          {% endif %}
        </summary>
        {% if content_moderation_form|render|striptags|trim is not empty %}
          <div class="epa-content-moderation__drawer epa-dropdown__drawer">
            {{ content_moderation_form }}
          </div>
        {% endif %}
      </details>
      <p class="epa-content-moderation__info">{{ last_modified }}</p>
      <p class="epa-content-moderation__help-text">{{ help_text }}</p>
    </div>

    {% if review_deadline %}
      <div class="epa-content-moderation__notice">
        <svg class="epa-content-moderation__notice-icon" aria-hidden="true" role="img">
          <use href="/themes/epa_theme/images/drupal-sprite.artifact.svg#warning"></use>
        </svg>
        {{ review_deadline }}
      </div>
    {% endif %}

    {% if scheduled_publish %}
      <div class="epa-content-moderation__notice">
        <svg class="epa-content-moderation__notice-icon" aria-hidden="true" role="img">
          <use href="/themes/epa_theme/images/drupal-sprite.artifact.svg#warning"></use>
        </svg>
        {{ scheduled_publish }}
      </div>
    {% endif %}
  </div>
{% endif %}
