{#
  Copied the contents of the menu.html.twig from system given that's what we're ultimately displaying
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - tabs: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{{ attach_library('epa_workflow/epa_node_tabs') }}

<nav class="epa-node-tabs" role="navigation" aria-label="Primary tasks">
  {{ menus.menu_links(tabs, attributes, 0) }}

  {% macro menu_links(tabs, attributes, menu_level) %}
    {% import _self as menus %}

    {% if tabs %}
      {% if menu_level == 0 %}
        <ul{{ attributes }} class="epa-node-tabs__menu">
      {% else %}
        <ul
          class="epa-node-tabs__drawer"
          id="epa-node-tabs-drawer"
          role="region"
          aria-labelledby="epa-node-tabs-button"
          aria-expanded="true"
        >
      {% endif %}

      {% for item in tabs %}
        {% set item_classes = [
          menu_level > 0 ? 'epa-node-tabs__drawer-item' : 'epa-node-tabs__item',
          item['#children'] ? 'has-children',
        ]|join(' ')|trim %}

        <li class="{{ item_classes }}">
          {{ item }}

          {% if item['#children'] %}
            {% set attributes = attributes|merge({'class': 'epa-node-tabs__drawer-children'}) %}
            {{ menus.menu_links(item['#children'], attributes, menu_level + 1) }}
          {% endif %}
        </li>
      {% endfor %}

      </ul>
    {% endif %}
  {% endmacro %}
</nav>
