
{% set classes = ['content-info-box',  box_color] %}
<div{{ attributes.addClass(classes) }}>
  <h2>Content Info Box</h2>
  {# @todo: remove this next line #}
  <p>Box color is: {{ box_color }}</p>
  <div class="content-moderation" style="margin-left: 1rem; padding-left: 1rem; border-left: 4px solid {{ box_color }};">
    <h3>{{ current_state }}</h3>
    <p>{{ last_modified }}</p>
    {% if scheduled_publish %}
      <strong>{{ scheduled_publish }}</strong>
    {% endif %}
  </div>
  {{ content_moderation_form }}
  {{ compare_link }}
  {{ follow_widget }}
  {{ node_details_widget }}
</div>
