<!DOCTYPE html>
<html class="no-js pattern-lab-content {{ html_class }}" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page_title }} | {{ site_name }}</title>

    <link rel="icon" type="image/x-icon" href="/themes/epa_theme/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/themes/epa_theme/images/favicon-144.png">
    <meta name="application-name" content="{{ siteName }}">
    <meta name="msapplication-config" content="/themes/epa_theme/images/ieconfig.xml">
    <link rel="apple-touch-icon-precomposed" sizes="196x196" href="/themes/epa_theme/images/favicon-196.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/themes/epa_theme/images/favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/themes/epa_theme/images/favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/themes/epa_theme/images/favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/themes/epa_theme/images/favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/themes/epa_theme/images/favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="/themes/epa_theme/images/favicon-180.png">
    <link rel="icon" href="/themes/epa_theme/images/favicon-32.png" sizes="32x32">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/styles.css?{{ cacheBuster }}" media="all">

    <!--[if lte IE 8]>
    <script src="../../../../../core/assets/vendor/html5shiv/html5shiv.min.js?v=3.7.3"></script>
    <![endif]-->

    <script src="../../../js/libraries/modernizr.min.js?v=3.3.1"></script>
    <link rel="stylesheet" href="../../../css/pattern-lab.css?{{ cacheBuster }}" media="all">

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ body_class }}" id="#top">
    {% include '@components/skiplinks/skiplinks.twig' %}
