{% set location_root = '../../../../../' %}
{% set location_theme = '../../../' %}

{%- if standalone_template %}
  {% set location_root = 'https://www.epa.gov/' %}
  {% set location_theme = 'https://www.epa.gov/themes/epa_theme/' %}
  <script type="application/json" data-drupal-selector="drupal-settings-json">
    {"path":{"isFront":false,"suppressDeprecationErrors":true}}
  </script>
{% else %}
  <script type="application/json" data-drupal-selector="drupal-settings-json">{}</script>
{% endif -%}

<script src="{{ location_root }}core/assets/vendor/jquery/jquery.min.js?{{ cacheBuster }}"></script>
<script src="{{ location_root }}core/assets/vendor/once/once.min.js?{{ cacheBuster }}"></script>
<script src="{{ location_root }}core/misc/drupalSettingsLoader.js?{{ cacheBuster }}"></script>
<script src="{{ location_root }}core/misc/drupal.js?{{ cacheBuster }}"></script>
<script src="{{ location_root }}core/misc/drupal.init.js?{{ cacheBuster }}"></script>
<script src="{{ location_root }}core/assets/vendor/tabbable/index.umd.min.js?{{ cacheBuster }}"></script>
<script src="{{ location_root }}core/misc/progress.js?{{ cacheBuster }}"></script>
<script src="{{ location_root }}core/assets/vendor/loadjs/loadjs.min.js?{{ cacheBuster }}"></script>
<script src="{{ location_root }}core/misc/debounce.js?{{ cacheBuster }}"></script>
<script src="{{ location_root }}core/misc/announce.js?{{ cacheBuster }}"></script>
<script src="{{ location_root }}core/misc/message.js?{{ cacheBuster }}"></script>
<script src="{{ location_root }}core/misc/ajax.js?{{ cacheBuster }}"></script>
<script src="{{ location_root }}themes/contrib/stable/js/ajax.js?{{ cacheBuster }}"></script>
<script src="{{ location_theme }}js/dist/common.min.js?{{ cacheBuster }}"></script>
<script src="{{ location_theme }}js/dist/scripts.min.js?{{ cacheBuster }}"></script>
<script src="{{ location_theme }}js/dist/header-search.min.js?{{ cacheBuster }}"></script>

{%- if not standalone_template %}
  <script src="{{ location_root }}modules/custom/epa_wysiwyg/js/plugins/epaNew/epaNew.js?{{ cacheBuster }}"></script>
  <script src="{{ location_theme }}js/dist/before-after-swipe.min.js?{{ cacheBuster }}"></script>
  <script src="{{ location_theme }}js/dist/definition.min.js?{{ cacheBuster }}"></script>
  <script src="{{ location_theme }}js/dist/epa-alerts.min.js?{{ cacheBuster }}"></script>
  <script src="{{ location_theme }}js/dist/external-links.min.js?{{ cacheBuster }}"></script>
  <script src="{{ location_theme }}js/dist/hero-slideshow.min.js?{{ cacheBuster }}"></script>
  <script src="{{ location_theme }}js/dist/image-gallery.min.js?{{ cacheBuster }}"></script>
  <script src="{{ location_theme }}js/dist/media-link.min.js?{{ cacheBuster }}"></script>
  <script src="{{ location_theme }}js/dist/private-sitewide-alert.min.js?{{ cacheBuster }}"></script>
  <script src="{{ location_theme }}js/dist/protected-links.min.js?{{ cacheBuster }}"></script>
  <script src="{{ location_theme }}js/dist/sidenav-menu.min.js?{{ cacheBuster }}"></script>
  <script src="{{ location_theme }}js/dist/sitewide-alert.min.js?{{ cacheBuster }}"></script>
  <script src="{{ location_theme }}js/dist/toggle-admin.min.js?{{ cacheBuster }}"></script>
  <script src="{{ location_theme }}js/dist/vid-copy.min.js?{{ cacheBuster }}"></script>

  <!--DO NOT REMOVE-->
  {{ patternLabFoot|raw }}
{% endif -%}

</body>
</html>
