{{ form.new_state }}
{{ form.epa_draft_needs_approval }}
{{ form.epa_draft_approved_guidance }}
{{ form.epa_publish_guidance }}
{{ form.epa_republish_guidance }}
{{ form.publish_date }}
{{ form.revision_log }}
{{ form.workflow_508_compliant }}

<div class="epa-content-moderation__actions">
  {{ form.submit }}
</div>

{{ form|without('new_state', 'current', 'revision_log', 'submit', 'workflow_508_compliant', 'epa_draft_needs_approval', 'epa_draft_approved_guidance', 'epa_publish_guidance', 'epa_republish_guidance', 'publish_date') }}
