<div class="usa-form-group {{ group_modifier_classes }}">
  <label class="usa-label {{ label_modifier_classes }}" for="{{ input_id }}">
    {{ input_label }}
    {% if input_required %}<abbr class="usa-hint usa-hint--required" title="{{ 'required'|t }}">*</abbr>{% endif %}
  </label>
  {% if error_message %}
    <span class="usa-error-message" id="{{ input_id }}-message" role="alert">{{ error_message }}</span>
  {% endif %}
  {% spaceless %}
  <input class="usa-input {{ modifier_classes }}"
     id="{{ input_id }}"
     name="{{ input_id }}"
     type="{{ input_type|default('text') }}"
     {% if error_message %} aria-describedby="{{ input_id }}-message"{% endif %}
     {% if input_size %} size="{{ input_size }}"{% endif %}
     {% if input_max %} maxlength="{{ input_max }}"{% endif %}
     {% if input_placeholder %} placeholder="{{ input_placeholder }}"{% endif %}
     {% if input_title %} title="{{ input_title }}"{% endif %}
     {% if input_disabled %} disabled{% endif %}
     {% if input_required %} required aria-required="true"{% endif %}
     {% if input_step %} step="{{ input_step }}"{% endif %}>
  {% endspaceless %}
</div>
