<div class="usa-radio">
  <input class="usa-radio__input" id="{{ radio_id }}" type="radio" name="{{ radio_name }}" value="{{ radio_value }}"{% if radio_checked %} checked{% endif %}{% if radio_disabled %} disabled{% endif %}>
  <label class="usa-radio__label" for="{{ radio_id }}">{{ radio_label }}</label>
</div>
