{% set columns = 0 %}

{% if content.first|render %}
  {% set columns = columns + 1 %}
{% endif %}

{% if content.second|render %}
  {% set columns = columns + 1 %}
{% endif %}

{% if columns > 1 %}
  <div class="l-grid l-grid--{{ columns }}-col">
    <div>{{ content.first }}</div>
    <div>{{ content.second }}</div>
  </div>
{% else %}
  {{ content.first }}
  {{ content.second }}
{% endif %}
