{% if content.main|render and content.sidebar|render %}
  {% set classes = ['l-sidebar'] %}
  {% set main_classes = ['l-sidebar__main'] %}
  {% set sidebar_classes = ['l-sidebar__sidebar'] %}
{% endif %}
<div{{ attributes.addClass(classes) }}>
  {% if content.main|render %}
    <div{{ region_attributes.main.addClass(main_classes) }}>
      {{ content.main }}
    </div>
  {% endif %}
  {% if content.sidebar|render %}
    <div{{ region_attributes.sidebar.addClass(sidebar_classes) }}>
      {{ content.sidebar }}
    </div>
  {% endif %}
</div>
