{% set classes = [
  'pager',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

{% if pager_items %}
  <nav aria-label="{{ heading }}" class="{{ classes }}" role="navigation">
    <ul class="pager__items js-pager__items">

      {# Print first item if we are not on the first page. #}
      {% if pager_items.first %}
        <li class="pager__item pager__item--first">
          <a class="pager__link pager__link--first" href="{{ pager_items.first.href }}" aria-label="{{ 'Go to first page'|t }}" title="{{ 'Go to first page'|t }}" {{ pager_items.first.attributes|without('href', 'title') }}>
            {% include '@components/icon/icon.twig' with {
              'is_hidden': true,
              'modifier_classes': 'icon--pager',
              'icon_name': 'angle-double-left'
            } %}
          </a>
        </li>
      {% endif %}

      {# Print previous item if we are not on the first page. #}
      {% if pager_items.previous %}
        <li class="pager__item pager__item--previous">
          <a class="pager__link pager__link--previous" href="{{ pager_items.previous.href }}" aria-label="{{ 'Go to previous page'|t }}" title="{{ 'Go to previous page'|t }}" rel="prev" {{ pager_items.previous.attributes|without('href', 'title', 'rel') }}>
            {% include '@components/icon/icon.twig' with {
              'is_hidden': true,
              'modifier_classes': 'icon--pager',
              'icon_name': 'angle-left'
            } %}
          </a>
        </li>
      {% endif %}

      {# Add an ellipsis if there are further previous pages. #}
      {% if pager_items.ellipses.previous %}
        <li class="pager__item pager__item--ellipsis" aria-label="ellipsis indicating non-visible pages">…</li>
      {% endif %}

      {# Now generate the actual pager piece. #}
      {% for key, item in pager_items.pages %}
        <li class="pager__item{{ current == key ? ' pager__item--current' : '' }}">
          {% if current == key %}
            <span class="visually-hidden">
              {{ 'Currently on page'|t }}
            </span>
            {{- key -}}
          {% else %}
            <a class="pager__link" href="{{ item.href }}" title="{{ 'Go to page @key'|t({'@key': key}) }}" {{ item.attributes|without('href', 'title') }}>
              <span class="visually-hidden">
                {{ 'Page'|t }}
              </span>
              {{- key -}}
            </a>
          {% endif %}
        </li>
      {% endfor %}

      {# Add an ellipsis if there are further next pages. #}
      {% if pager_items.ellipses.next %}
        <li class="pager__item pager__item--ellipsis" aria-label="ellipsis indicating non-visible pages">…</li>
      {% endif %}

      {# Print next item if we are not on the last page. #}
      {% if pager_items.next %}
        <li class="pager__item pager__item--next">
          <a class="pager__link pager__link--next" href="{{ pager_items.next.href }}" aria-label="{{ 'Go to next page'|t }}" title="{{ 'Go to next page'|t }}" rel="next" {{ pager_items.next.attributes|without('href', 'title', 'rel') }}>
            {% include '@components/icon/icon.twig' with {
              'is_hidden': true,
              'modifier_classes': 'icon--pager',
              'icon_name': 'angle-right'
            } %}
          </a>
        </li>
      {% endif %}

      {# Print last item if we are not on the last page. #}
      {% if pager_items.last %}
        <li class="pager__item pager__item--last">
          <a class="pager__link pager__link--last" href="{{ pager_items.last.href }}" aria-label="{{ 'Go to last page'|t }}" title="{{ 'Go to last page'|t }}" {{ pager_items.last.attributes|without('href', 'title') }}>
            {% include '@components/icon/icon.twig' with {
              'is_hidden': true,
              'modifier_classes': 'icon--pager',
              'icon_name': 'angle-double-right'
            } %}
          </a>
        </li>
      {% endif %}

    </ul>
  </nav>
{% endif %}
