{% set classes = [
  'figure',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

<figure class="{{ classes }}">
  <div class="figure__media">{{ media }}</div>
  {% if caption %}
    <figcaption class="figure__caption">{{ caption }}</figcaption>
  {% endif %}
</figure>

{% if is_demo %}
  <figure class="{{ classes }} is-centered">
    <div class="figure__media">{{ media }}</div>
    {% if caption %}
      <figcaption class="figure__caption"><strong>Centered: </strong>{{ caption }}</figcaption>
    {% endif %}
  </figure>
  <figure class="{{ classes }} u-align-left">
    <div class="figure__media">{{ media }}</div>
    {% if caption %}
      <figcaption class="figure__caption"><strong>Left aligned: </strong>{{ caption }}</figcaption>
    {% endif %}
  </figure>
  <figure class="{{ classes }} u-align-right">
    <div class="figure__media">{{ media }}</div>
    {% if caption %}
      <figcaption class="figure__caption"><strong>Right aligned: </strong>{{ caption }}</figcaption>
    {% endif %}
  </figure>
{% endif %}
