{% set classes = [
  'usa-summary-box',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

{% set body_classes = [
  'usa-summary-box__body',
  has_constrain ? 'l-constrain',
  constrain_modifier_classes ? constrain_modifier_classes,
]|join(' ')|trim %}

{% set summary_box_id = 'summary-box'|unique_id %}

<div class="{{ classes }}" role="region"{% if id %} id="{{ id }}"{% endif %}{% if heading %}aria-labelledby="{{ summary_box_id }}"{% endif %}>
  <div class="{{ body_classes }}">
    {% if image %}
      {% set image_classes = [
        'margin-bottom-0',
        image_modifier_classes ? image_modifier_classes,
      ]|join(' ')|trim %}

      {% if image_url %}
        <a class="usa-summary-box__image-link" href="{{ image_url }}">
      {% endif %}

        {% include '@components/figure/figure.twig' with {
          'modifier_classes': image_classes,
          'caption': false,
          'media': image,
        } %}

      {% if image_url %}
        </a>
      {% endif %}
    {% endif %}

    {% if heading %}
      <{{ heading_element ?: 'h3' }} class="usa-summary-box__heading" id="{{ summary_box_id }}">
        {% if heading_url %}
          <a href="{{ heading_url }}">
        {% endif %}

        {{ heading }}

        {% if heading_url %}
          </a>
        {% endif %}
      </{{ heading_element ?: 'h3' }}>
    {% endif %}

    <div class="usa-summary-box__text">
      {{ content }}
      {{ footer_content }}
    </div>
  </div>
</div>
