{% set content %}
  {% include '@components/page-title/page-title.twig' with {
    'page_title': title,
  } %}

  {% if show_admin_info %}
    <div class="js-toggle-admin-content">
      {{ admin_info }}
    </div>
  {% endif %}

  {{ slideshow }}
  {% if description %}
    {{ description }}
  {% endif %}
  {% if popular_links %}
    {{ popular_links }}
  {% endif  %}
  {{ body }}
{% endset %}

{% embed '@layouts/page/page.twig' with {
  'has_header': has_header,
  'has_footer': has_footer,
} %}
  {% block info %}
    {{ header_info }}
  {% endblock %}

  {% block contact %}
    {{ contact_link }}
  {% endblock %}

  {% block content %}
    <article class="article">
      {{ content }}
    </article>
  {% endblock %}

  {% block footer %}
    {{ footer }}
  {% endblock %}
{% endembed %}
