{#
/**
 * @file
 * Default theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 *
 * @ingroup themeable
 */
#}

{% include '@uswds/banner/banner.twig' with {
  'banner_text': 'An official website of the United States government'|t,
  'has_expanded': true,
  'banner_action': 'Here’s how you know'|t,
  'expanded_blocks': [
    {
      'icon': '/themes/epa_theme/images/icon-dot-gov.svg',
      'icon_alt': 'Dot gov'|t,
      'heading': 'Official websites use .gov'|t,
      'content': 'A <strong>.gov</strong> website belongs to an official government organization in the United States.'|t,
    },
    {
      'icon': '/themes/epa_theme/images/icon-https.svg',
      'icon_alt': 'HTTPS',
      'heading': 'Secure .gov websites use HTTPS'|t,
      'content': 'A <strong>lock</strong> (<span class="icon-lock"><svg xmlns="http://www.w3.org/2000/svg" width="52" height="64" viewBox="0 0 52 64" class="usa-banner__lock-image" role="img" aria-labelledby="banner-lock-title banner-lock-description"><title id="banner-lock-title">Lock</title><desc id="banner-lock-description">A locked padlock</desc><path fill="#000000" fill-rule="evenodd" d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"/></svg></span>) or <strong>https://</strong> means you’ve safely connected to the .gov website. Share sensitive information only on official, secure websites.'|t,
    },
  ],
} %}

{{ page.header }}

{% embed '@layouts/header/header.twig' %}
  {% block logo %}
    {% include "@components/site-logo/site-logo.twig" with {
      'url': '/',
    } %}
  {% endblock %}

  {% block search %}
    {% include '@components/search/search--epa/search--epa.twig' %}
  {% endblock %}

  {% block navigation %}
    {% embed '@components/nav/nav--epa/nav--epa.twig' with {
      'label': 'Primary navigation'|t,
      'extended': true,
    } %}
      {% block menu %}
        {{ page.navigation }}
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}

{{ page.help }}

<main id="main" class="main" role="main" tabindex="-1">
  {% block main_content %}
    <div class="l-page">
      <div class="l-constrain">
        <h1 class="page-title">{{ page['#title'] }}</h1>
        {{ page.messages }}
        {{ page.content }}
      </div>
    </div>
  {% endblock %}
</main>

{% embed '@components/footer/footer.twig' %}
  {% block content %}
    {{ page.footer }}
  {% endblock %}
{% endembed %}
