{#
/**
 * @file
 * Theme override to display a single page.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when linking to the front page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% if language == 'es' %}
  {% include '@uswds/banner/banner.twig' with {
    'banner_text': 'Un sitio oficial del Gobierno de Estados Unidos'|t,
    'has_expanded': true,
    'banner_action': 'Así es como usted puede verificarlo'|t,
    'expanded_blocks': [
      {
        'icon': 'icon-dot-gov.svg',
        'icon_alt': 'Dot gov'|t,
        'heading': 'Los sitios web oficiales usan .gov'|t,
        'content': 'Un sitio web <strong>.gov</strong> pertenece a una organización oficial del Gobierno de Estados Unidos.'|t,
      },
      {
        'icon': 'icon-https.svg',
        'icon_alt': 'HTTPS',
        'heading': 'Los sitios web seguros .gov usan HTTPS'|t,
        'content': 'Un <strong>candado</strong> (<span class="icon-lock"><svg xmlns="http://www.w3.org/2000/svg" width="52" height="64" viewBox="0 0 52 64" class="usa-banner__lock-image" role="img" aria-labelledby="banner-lock-title-lang-es banner-lock-description-lang-es"><title id="banner-lock-title-lang-es">Candado</title><desc id="banner-lock-description-lang-es">Un candado cerrado</desc><path fill="#000000" fill-rule="evenodd" d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"/></svg></span>) o <strong>https://</strong> significa que usted se conectó de forma segura a un sitio web .gov. Comparta información sensible sólo en sitios web oficiales y seguros.'|t,
      },
    ],
  } %}
{% else %}
  {% include '@uswds/banner/banner.twig' with {
    'banner_text': 'An official website of the United States government'|t,
    'has_expanded': true,
    'banner_action': 'Here’s how you know'|t,
    'expanded_blocks': [
      {
        'icon': 'icon-dot-gov.svg',
        'icon_alt': 'Dot gov'|t,
        'heading': 'Official websites use .gov'|t,
        'content': 'A <strong>.gov</strong> website belongs to an official government organization in the United States.'|t,
      },
      {
        'icon': 'icon-https.svg',
        'icon_alt': 'HTTPS',
        'heading': 'Secure .gov websites use HTTPS'|t,
        'content': 'A <strong>lock</strong> (<span class="icon-lock"><svg xmlns="http://www.w3.org/2000/svg" width="52" height="64" viewBox="0 0 52 64" class="usa-banner__lock-image" role="img" aria-labelledby="banner-lock-title banner-lock-description"><title id="banner-lock-title">Lock</title><desc id="banner-lock-description">A locked padlock</desc><path fill="#000000" fill-rule="evenodd" d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"/></svg></span>) or <strong>https://</strong> means you’ve safely connected to the .gov website. Share sensitive information only on official, secure websites.'|t,
      },
    ],
  } %}
{% endif %}

{{ page.header }}

{% embed '@layouts/header/header.twig' %}
  {% block logo %}
    {% include "@components/site-logo/site-logo.twig" with {
      'url': '/',
      'language': language,
    } %}
  {% endblock %}

  {% block search %}
    {% if is_admin %}
      {% include '@components/_toggle-admin/toggle-admin.twig' %}
    {% endif %}

    {% include '@components/search/search--epa/search--epa.twig' %}
  {% endblock %}

  {% block navigation %}
    {% embed '@components/nav/nav--epa/nav--epa.twig' with {
      'label': 'Primary navigation'|t,
      'extended': true,
    } %}
      {% block menu %}
        {{ page.navigation }}
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}

<main id="main" class="main" role="main" tabindex="-1">
  {% block main_content %}
    <div class="l-page">
      <div class="l-constrain">
        {{ page.title }}
        {{ page.messages }}
        {{ page.content }}
      </div>
    </div>
  {% endblock %}
</main>

{% embed '@components/footer/footer.twig' %}
  {% block pre_footer  %}
    {{ page.pre_footer }}
  {% endblock %}
  {% block content %}
    {{ page.footer }}
  {% endblock %}
{% endembed %}
