<div class="usa-checkbox">
  <input class="usa-checkbox__input" id="{{ checkbox_id }}" name="{{ checkbox_name }}" type="checkbox"{% if checkbox_disabled %} disabled{% endif %}{% if checkbox_checked %} checked{% endif %}{% if checkbox_value %} value="{{ checkbox_value }}"{% endif %}>
  <label class="usa-checkbox__label" for="{{ checkbox_id }}">{{ checkbox_label }}</label>
</div>
