{% set classes = [
  'back-to-top',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

<a href="#{{ top_element }}" class="{{ classes }}" title="{{ text }}">
  <svg class="back-to-top__icon" role="img" aria-label="{{ text }}">
    <use href="{{ epa_theme_image_path }}sprite.artifact.svg#angle"></use>
  </svg>
</a>
