<label class="usa-label" for="{{ range_id }}">{{ range_label }}</label>
<input id="{{ range_id }}" class="usa-range" type="range" min="{{ range_min }}" max="{{ range_max }}" step="{{ range_step }}"{% if range_disabled %} disabled{% endif %}>
