{% set columns = 0 %}

{% if content.first %}
  {% set columns = columns + 1 %}
{% endif %}

{% if content.second %}
  {% set columns = columns + 1 %}
{% endif %}

{% if content.third %}
  {% set columns = columns + 1 %}
{% endif %}

{% if content.fourth %}
  {% set columns = columns + 1 %}
{% endif %}

{% if columns > 1 %}
  {%
    set classes = [
    'l-grid',
    'l-grid--' ~ columns  ~ '-col',
    'l-column-layout'
  ]
  %}
  <div class="usa-section">
    <div class="l-constrain">
      <div{{ attributes.addClass(classes) }}>
        {% if content.first %}
          <div{{ region_attributes.first }}>{{ content.first }}</div>
        {% endif %}

        {% if content.second %}
          <div{{ region_attributes.second }}>{{ content.second }}</div>
        {% endif %}

        {% if content.third %}
          <div{{ region_attributes.third }}>{{ content.third }}</div>
        {% endif %}

        {% if content.fourth %}
          <div{{ region_attributes.fourth }}>{{ content.fourth }}</div>
        {% endif %}
      </div>
    </div>
  </div>
{% else %}
  {{ content.first }}
  {{ content.second }}
  {{ content.third }}
  {{ content.fourth }}
{% endif %}
