{% set content %}
  {% embed '@layouts/sidebar/sidebar.twig' with {
    'has_sidebar': has_sidenav,
    'modifier_classes': 'l-sidebar--reversed',
  } %}
    {% block main_content %}
      {% embed '@components/article/article.twig' with {
        'title': title,
        'intro': intro,
        'content': body,
        'sidebar': sidebar,
        'show_admin_info': show_admin_info,
      } %}

        {% block admin_info %}
          {{ admin_info }}
        {% endblock %}
      {% endembed %}
    {% endblock %}

    {% block sidebar %}
      {{ sidenav }}
      <div class="menu-sidenav__contact" id="menu-sidenav__contact">
        {{ contact_link }}
      </div>
    {% endblock %}
  {% endembed %}

{% endset %}

{% embed '@layouts/page/page.twig' with {
  'has_in_page_nav': has_in_page_nav,
  'has_header': has_header,
  'has_footer': has_footer,
  'modifier_classes': 'page-has-sidebar',
} %}
  {% block info %}
    {{ header_info }}
  {% endblock %}

  {% block contact %}
  {% endblock %}

  {% block in_page_nav %}
  {% endblock %}

  {% block content %}
    {{ content }}
  {% endblock %}

  {% block footer %}
    {{ footer }}
  {% endblock %}
{% endembed %}
