{% set classes = [
  'usa-card',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

<div class="{{ classes }} {{ card_layout }}">
  <div class="usa-card__container">
    <header class="usa-card__header">
      <h2 class="usa-card__heading">{{ card_title }}</h2>
    </header>
    {% if card_media %}
    <div class="usa-card__media {{ media_classes }}">
      <div class="usa-card__img">
        {{ card_media }}
      </div>
    </div>
    {% endif %}
    <div class="usa-card__body">
      {{ card_content }}
    </div>
    <div class="usa-card__footer">
      <a class="usa-button" href="{{ card_url }}">{{ card_button_text }}</a>
    </div>
  </div>
</div>
